@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="msg-panel panel panel-green">
			<div class="panel-heading">
				<h3 class="panel-title">@ViewBag.Title</h3>
			</div>
			<div class="panel-body">
				<fieldset>
					<div class="form-group">
						<p>
							Please check your email to reset your password.
						</p>
						<a class="btn-link" href="@Url.Action(MVC.Account.Login())">Back to login</a>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

