@{
	ViewBag.Title = "Reset password confirmation";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="msg-panel panel panel-green">
			<div class="panel-heading">
				<h3 class="panel-title">@ViewBag.Title</h3>
			</div>
			<div class="panel-body">
				<fieldset>
					<div class="form-group">
						<p>
							Your password has been reset. Please <a class="btn-link" href="@Url.Action(MVC.Account.Login())">click here to log in</a>
						</p>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

