<div class="col-md-4">
	<div class="panel panel-default panel-preview">
		<div>
			<i id="imgNoAvailable" class="glyphicon glyphicon-picture icon-inner img-no-available"></i>
			<img id="imgPreview" class="img-preview" src="/images/qr-code-example.jpg" />
		</div>
		<div class="preview">
			<button id="btnSaveTemplate" type="button" class="btn btn-success"><i class="fa fa-floppy-o icon-inner"></i>Save as template</button>
		</div>
	</div>
</div>
